







#logo{
    width: 320px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

/*MENU-VERTICAL*/
#menu-v{
    width: 300px;
    min-height: 700px;
    background: rgb(151, 151, 142);
    float: left;
}
#menu-v ul{
    list-style: none;
    padding: 10px;
}
#menu-v a{
    display:block; /*ancho total de caja contenedora*/
    color: #ffff;
    /*background: #000;*/
    padding: 10px;
    text-decoration: none;
    border: 1px solid #cccc; /*separado de un elemento de otro*/
    margin-bottom: 1px; /*opciones entre lineas*/
    border-radius: 5px;
    font-family: arial;
    font-size: 18px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
background: rgb(59,103,158); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

footer{
    max-width: 1000px;
    /*min-height: 130px;*/
    background: #000;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    color: #fff;
    text-align: center;
    /* padding: 30px; */
    padding: 10px;
    box-sizing: border-box; /*crecimiento internamente*/
    font-family: arial;
    font-size: 18px;
}